/data/*.parquet
/data/processed_data.csv
**/*.log
**/duckdb*
/model_checkpoints/*.pth
/models/*pth
.env
**/__pycache__
/taxidata/rides.csv
count_by_pickup_community_area.csv
/adjacency_matrix_distance.npy
a.out
data.csv
rides.ddb 
weather_features.csv
download.ps1
/.vscode
**/.idea
/read_dynamodb_data.ipynb
features.npy
targets.npy